<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="normalize.css">
    <title>Strain Track</title>
</head>
<body>

    <header>
        <h1>Strain Track 🌿</h1>
        <p>Keep track of all the strains you’ve come accross</p>
    </header>
    

    <form action="/strains" method="post">
        <div class="row">
            <div class="six columns">
                <label for="strainInput">Strain</label>
                <input class="u-full-width" type="text" placeholder="Name" name="strain">
            </div>

            <div class="six columns">
                <label for="typeInput">Type</label>
                <select class="u-full-width" name="type">
                    <option value="choose">Choose...</option>
                    <option value="sativa">Sativa</option>
                    <option value="hybrid">Hybrid</option>
                    <option value="kush">Kush</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="six columns">  
                <label for="thoughtsInput">Thoughts</label>          
                <select class="u-full-width" name="thoughts">
                    <option value="choose">Choose...</option>
                    <option value="hate">Hate It</option>
                    <option value="fine">Fine</option>
                    <option value="good">Good</option>
                    <option value="love">Love It</option>
                </select>
            </div>

            <div class="six columns">
                <label for="dateInput">Date</label> 
                <input class="u-full-width" type="date" placeholder="date" name="date">
            </div>

        </div>
        <label for="moreInput">More</label>
        <textarea class="u-full-width" placeholder="Additional Info" name="more"></textarea>
        <button class="button-primary" type="submit">Submit</button>
    </form>

    <div>
        <h2>Replace the last strain with a random one</h2>
        <button id="update">A Surprise</button>
    </div>

    <div>
        <h2>Delete first 'good' strain</h2>
        <button id="delete">DELETE A 'GOOD' STRAIN</button>
    </div>


    <h2>All Strains</h2>
    <ul class="strains">
            <% for(var i = 0; i < strains.length; i++) { %>
                <li class="strain">
                    <span><%= strains[i].strain %></span>
                    <span><%= strains[i].type %></span>
                    <span><%= strains[i].thoughts %></span>
                    <span><%= strains[i].date %></span>
                    <span><%= strains[i].more %></span>
                </li>
            <% } %>
    </ul>
                
 <script src="main.js"></script>   
</body>
</html>

